.row {
  margin-left: 30px;
  color: white;
}

.row__header {
  display: flex;
  justify-content: space-between;
}

.row__title {
  -webkit-animation: row__title 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: row__title 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes row__title {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes row__title {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters--gridMode {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 600ms;
}

.row__poster:hover {
  transform: scale(1.06);
}

.row__posterLarge {
  max-height: 300px;
}

@media screen and (max-width: 375px) {
  .row__posters {
    display: block;
  }
  .row__posters img {
    margin-top: 30px;
  }
}
